@import "../../styles/variables.base.scss";

.app-layout {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  .footer {
    display: block;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 24px;
  }
}

.layout-header {
  z-index: 1501;
}
