@import "../../assets/styles/variables.base.scss";


.zz-textbox, .dx-editor-outlined.dx-texteditor-with-floating-label, .dx-editor-outlined.dx-texteditor-with-label {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.zz-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 16px;
  font-style: normal;

  a {
    text-decoration: none;
  }
}
