@import "../../assets/styles/variables.base.scss";
@import "../../assets/styles/main.scss";

.dx-datagrid {
  color: #d7d7d7;
  .dx-datagrid-rowsview
    .dx-selection.dx-row:not(.dx-row-focused):hover:not(.dx-row-lines)
    > td,
  .dx-datagrid-rowsview
    .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-lines)
    > td {
    // border-bottom: 1px solid rgba(47,70,90,.59);
    // border-top: 1px solid rgba(47,70,90,.59);
    border-bottom: 1px solid #daa52073;
    border-top: 1px solid #daa52073;
  }
  .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
  .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
  .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
  .dx-datagrid-rowsview
    .dx-selection.dx-row:not(.dx-row-focused):hover
    > tr
    > td {
    background-color: #80805073;
    color: #dbdbdb;
  }

  .dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-sort,
  .dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-sort-indicator,
  .dx-datagrid-headers
    .dx-datagrid-table
    .dx-row
    > td:hover
    .dx-datagrid-text-content {
    color: unset;
  }
}

.dx-datagrid.dx-gridbase-container {
  background-color: transparent;
  .dx-datagrid-header-panel {
    background-color: transparent;
    .dx-toolbar.dx-widget {
      background-color: transparent;
    }
  }
  .dx-datagrid-rowsview {
    border-radius: 0px 0px 8px 8px;
  }
}

.dx-datagrid-borders > .dx-datagrid-filter-panel,
.dx-datagrid-borders > .dx-datagrid-headers {
  border-radius: 8px 8px 0px 0px;
}

.dx-datagrid {
  .dx-context-menu .dx-menu-item {
    color: navajowhite;
  }

  .dx-link,
  .dx-datagrid-headers .dx-datagrid-table {
    color: cornflowerblue;
    text-shadow: 1px 1px 1px black;
  }

  .dx-header-filter-empty {
    color: $base-icon-color;
  }
  .dx-header-filter:not(.dx-header-filter-empty) {
    color: orange;
  }
  .dx-item.dx-toolbar-item.dx-toolbar-button {
  }

  .dx-toolbar-button.dx-toolbar-text-auto-hide .dx-button .dx-icon {
    width: 18px;
    height: 18px;
    font-size: 28px;
    margin-right: 0;
    margin-left: 0;
  }
  .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon {
    color: greenyellow;
  }
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover {
  color: greenyellow;
  //   background-color: rgba(179, 182, 255, 0.6);
  //background-color: unset;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom: thin solid rgb(255, 222, 173, 0.34);
}

.dx-datagrid-container.dx-filter-menu .dx-menu-item-content .dx-icon,
.dx-datagrid.dx-filter-menu .dx-menu-item-content .dx-icon {
  color: $base-icon-color;
}
